
/* GERAL
=================================================================================================================================== */

body                                                                            {background-color: #FFFAF0; padding-top:50px;}

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* NAVEGAÇÃO
=================================================================================================================================== */
section.navegacao nav                                                           {background-color: #FF4175; display:block;}
section.navegacao a.navbar-brand                                                {color:white;font-family: 'Baloo', sans-serif; font-size:24px;}
section.navegacao .navbar-default .navbar-nav>li>a                              {color: white;font-family: 'Baloo', sans-serif; font-size:16px;}
section.navegacao .navbar-default .navbar-nav>li.active>a                       {background-color: #FFBBCD;}
section.navegacao .glyphicon                                                    {padding-right: 5px;}
section.navegacao .navbar-default .navbar-toggle .icon-bar                      {background-color: white;}
section.navegacao .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #FFBBCD;}
section.navegacao .navbar-default .navbar-nav>li>a.a-hover:hover {color: #555461;}

/* --------------------------------------------------------------------------*/
/* BANNER
=================================================================================================================================== */

section.banner img                                                              {width: 102%; height: auto; display: none; margin-left: -8px;}
section.banner img.ativa                                                        {display: block;}


/* --------------------------------------------------------------------------*/
/* SOBRE
=================================================================================================================================== */

p{
  margin-top: 10px;
  margin-left: 50px;
margin-right: 50px;
font-family: 'Roboto';
text-align: justify;
font-size: 17px;
color: #5C3227;


}

#empresa{
  margin-top: 8%;
  border-radius: 10px;
  /*border: 0.5px solid #888282;*/

  margin-bottom: 60px;

}

h1{
  color: #A73A68;
  margin-bottom: 2%;
  font-size: 50px;
  font-family: 'Baloo';
  text-align: center;
  color: #DE264C;
}



.quadradoQuemSomos {
    background: #FFB6C1;
    height: 400px;
    border-radius: 20px;

}


footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #FF4175;
  color: white;
  width: 100%;
  margin: 0;

}

.footer {
color: 	white;
text-align: center;
/*padding-top: 5px;*/
padding-bottom: 10px;
width: 100%;

}

@media (max-width: 769px){
        footer {
          height: 80px;
        }

        .quadradoQuemSomos {

            height: auto;
            margin: 20px;

        }
        .p3{
          display: none;
        }
        .p4{
          display: none;
        }

        iframe {
          margin left: 5%;
        }
        .col-md-4 {
    padding-left: 15%;
    }
}

.passos{
    display: flex;
}

.passos div{
    width: 550px;
    background-color: #FFFAF0 ;
}

.passos .passo1{
    border-right: 1px double #FF4175 ;
}

.passos .passo2{
    border-right: 1px double #FF4175 ;
}

.passos .passo3{

}

.passos div .passo{
    margin: auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 32px;
    font-family: 'Baloo';
}

.passos div img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 75px;
    width: 200px;
    height: 180px;
    border-spacing: inherit;
}

.passos div .texto{
    margin: 0 20px 0 30px;
    text-align: center;
    font-size: 20px;
    width: 80%;
    padding-left: 10%;
    font-family: 'Baloo';
}

.passos-h1{
  margin-top: 5%
}
