/* GERAL
=================================================================================================================================== */

body                                                                            {font-family: 'Roboto', sans-serif;}

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* NAVEGAÇÃO
=================================================================================================================================== */
section.navegacao nav                                                           {background-color: #FF4175; display:block;width:auto;}
section.navegacao a.navbar-brand                                                {color:white;font-family: 'Baloo', sans-serif; font-size:24px;}
section.navegacao .navbar-default .navbar-nav>li>a                              {color: white;font-family: 'Baloo', sans-serif; font-size:16px;}
section.navegacao .navbar-default .navbar-nav>li.active>a                       {background-color: #FF4175; color: #555461;}
section.navegacao .glyphicon                                                    {padding-right: 5px;}
section.navegacao .navbar-default .navbar-toggle .icon-bar                      {background-color: white;}
section.navegacao .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #FFBBCD; color: #555461;}
section.navegacao .navbar-default .navbar-nav>li>a.a-hover:hover {color: #555461;}


/* -------------------------------------------------------------------------------------------------------------------------------- */
/* CORPO
=================================================================================================================================== */
h1.build{
      color: #DE264C;
      margin: 0;
      text-align: left;
      font-size: 50px;
      font-family: 'Baloo';
      margin-bottom: 1.7%;
    }

    .title {
      float: left;
      -webkit-transform: translateX(80%);
      -webkit-transform-origin: 80% 100%;
      margin-left: -26%;
      margin-right: 2%;
      /* background-color: #FFF268; */
      color: #FFB009;
      font-size: 25px;
      font-weight: bold;
      height: 10%;
      margin-top: 1%;
      width: 27%;
      text-align: center;
      font-family: 'Roboto Slab', sans-serif;
    }
    section.dashboard div.bolo_total{
      font-weight: bold;
      margin-top: 90%;
    }

    section.dashboard div.blocoB{
      /*display: flex;*/
      /*border-radius: 10px;
      border: 0.5px solid #888282;*/
      background-color: white;
      /*width: 100%;*/
      height:490px;
      /*border-left: 15%;*/

    }
    section.dashboard div.row.blocoB{
      margin-left: 10px;
    }

    section.dashboard div.panel-heading{
      background-color: #FFD2C6;
    }

    section.dashboard h3.panel-title{
      color: #555461;
      font-size: 25px;
      font-weight: bold;
      font-family: 'Roboto Slab', sans-serif;
      display:inline;
    }

    section.dashboard div.panel{
      height:450px;
    }
    section.dashboard p.nome{
      font-weight: bold;
      margin:0;
      font-size: 20px;
      text-align: center;
    }

    section.dashboard p.preco{
      margin:0;
      font-size: 16px;
      color: #257aed;
      text-align: center;
    }

    section.dashboard div.radio-selector{
      margin-top: 50px;
      /*padding-right: 5px;*/
    }

    section.dashboard div.radio-selector input:active +.massa-bolo{
      opacity: .9;
    }

    section.dashboard div.radio-selector input:checked +.massa-bolo{
      -webkit-filter: none;
      -moz-filter: none;
      filter: none;
    }

    section.dashboard input{
      margin:0;
      padding:0;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
    }

    section.dashboard label.m01{
      background-image:url("../images/massa/massa_chocolate.jpg");
      margin-left: 30%;
    }
    section.dashboard label.m02{
      background-image:url("../images/massa/massa_baunilha.jpg");
      margin-left: 30%;
    }
    section.dashboard label.m03{
      background-image:url("../images/massa/massa_morango.jpg");
      margin-left: 30%;
    }

    section.dashboard label.r01{
      background-image:url("../images/recheio/recheio_chocolate.jpg");
      margin-left: 30%;
    }
    section.dashboard label.r02{
      background-image:url("../images/recheio/recheio_baunilha.jpg");
      margin-left: 30%;
    }
    section.dashboard label.r03{
      background-image:url("../images/recheio/recheio_frutas.jpg");
      margin-left: 30%;
    }

    section.dashboard label.c01{
      background-image:url("../images/cobertura/cobertura_caramelo_circ.png");
      margin-left: 30%;
    }
    section.dashboard label.c02{
      background-image:url("../images/cobertura/coberturabranca_circ.png");
      margin-left: 30%;
    }
    section.dashboard label.c03{
      background-image:url("../images/cobertura/cobertura_chocolate_circ.png");
      margin-left: 30%;
    }



    section.dashboard label.massa-bolo{
      cursor:pointer;
      background-size:contain;
      background-repeat:no-repeat;
      display:inline-block;
      width:120px;
      height:120px;
      -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in;
      transition: all 100ms ease-in;
      -webkit-filter: brightness(1)  opacity(.7);
      -moz-filter: brightness(1)  opacity(.7);
      filter: brightness(1)  opacity(.7);
    }
    section.dashboard label.massa-bolo:hover{
      -webkit-filter:  opacity(1);
      -moz-filter: opacity(1);
      filter: opacity(1);
    }

/* OLD */
    .float{
      float: none;
      margin-left: 10px;
    }

    #button{
      color: crimson;
    }

    .email{
      /*padding-left: 345px;*/
      font-size: 22px;
      font-weight: bold;
      color: crimson;
    }

    #email{
      height: 31px;
      width: 330px;
      font-size: 15px;
      font-family: 'Roboto';
    }

    .data{
      /*padding-left: 345px;*/
      font-size: 22px;
      font-weight: bold;
      color: crimson;
    }

    #dataEntrega{
      height: 31px;
      width: 252px;
      font-size: 15px;
      font-family: 'Roboto';
    }

    /* -------------------------------------------------------------------------------------------------------------------------------- */
    /* RESPONSIVO
    =================================================================================================================================== */
    @media screen and (min-width: 769px) and (max-width:992px)                  {div.blocoA {height:100px;width: 100%}
                                                                                div.blocoB {height:auto;width:100%; margin-top:7%; margin-left:-10px;}
                                                                                section.dashboard div.bolo_total{font-weight: bold; margin-top: 0%;}
                                                                                section.dashboard div.panel{height:auto}}

    @media screen and (max-width:769px)                                         {div.blocoA {height:100px;width: 100%}
                                                                                div.blocoB {height:auto;width:100%; margin-top:7%; margin-left:-10px;}
                                                                                section.dashboard div.bolo_total{font-weight: bold; margin-top: 0%;}
                                                                                section.dashboard div.panel{height:auto;}}

.pag-bolo {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pag-bolo li {
  display: inline;
}
.pag-bolo li > button,
.pag-bolo li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pag-bolo li > button:hover,
.pag-bolo li > button:focus {
  text-decoration: none;
  background-color: #eee;
}
.pag-bolo .next > button,
.pag-bolo .next > span {
  float: right;
}
.pag-bolo .previous > button,
.pag-bolo .previous > span {
  float: left;
}
.pag-bolo .disabled > button,
.pag-bolo .disabled > button:hover,
.pag-bolo .disabled > button:focus,
.pag-bolo .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}


/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#555461; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#FF4175; }




/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
#form-views             { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

.page-header-X {
  margin: 0px 0 20px;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}
