<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Confeitaria WDelicake</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Poppins|Roboto|Roboto+Condensed|Roboto+Slab|Baloo|Barrio" rel="stylesheet">
  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script type="text/javascript">
  (function(){
    emailjs.init("user_ClzK5qkXCmq9eFtWt6TUn");
  })();
  </script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/styles_config.css">
  <link rel="stylesheet" href="css/bootstrap.min.css" >

</head>
<body ng-app="mastercake">
  <!-- ************************* BARRA DE NAVEGAÇÃO ********************************-->
  <section class = "navegacao">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">WDelicake</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="config_v2.html"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>Monte seu Bolo <span class="sr-only">(current)</span></a></li>
            <li><a href="index.html#empresa"  class="a-hover"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Sobre</a></li>
            <li><a href="#" class="a-hover"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Contato</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </section>

  <h1 class="build"> MONTE SEU BOLO </h1>

  <section class="dashboard">
    <div class="col-sm-2 blocoA">
      <div class="panel panel-default">
        <div class="panel-heading">
      <h3 class="panel-title">RESUMO</h3>
    </div>
    <div class="panel-body">
      <div class="bolo_selecionado"> <span>Massa: </span> <span class="massa_select"> </span> </div>
      <div class="bolo_selecionado"> <span>Recheio: </span> <span class="recheio_select"> </span> </div>
      <div class="bolo_selecionado"> <span>Cobertura: </span> <span class="cobertura_select"> </span> </div>
      <div class="bolo_total">       <span>Total: </span><span class="valor-total"></span> </div>
    </div>
  </div>
    </div>



        <div class="col-sm-8 row blocoB" ng-controller="CakeController">

          <div class="panel panel-default blocoB" ng-show="pagina == 'pag_massa'">
            <div class="panel-heading">
              <h3 class="panel-title"> <a ng-click="pagina = 'pag_massa'"> MASSAS </a> | </h3>
              <h3 class="panel-title"> <a ng-click="pagina = 'pag_recheio'"> RECHEIO </a> | </h3>
              <h3 class="panel-title"> <a ng-click="pagina = 'pag_cobertura'"> COBERTURA </a></h3>

            </div>
            <div class="panel-body">
            <div ui-view></div>
            </div>
        </div>

  </section>

<section class="configure">
    <!-- Valor Total -->
    <!-- <p class="title"> VALOR TOTAL </p> -->
    <div>
      <p class="valor-total title float"></p>
    </div>
    <div>
      <label class="email" for="email">Contato: </label>
      <input id="email" class="float" placeholder="Digite seu email.." >
    </div>
    <br>
    <div>
      <label class="data" for="dataEntrega">Data de Entrega: </label>
      <input id="dataEntrega"class="float" type="date">
    </div>
    <br>
    <div>
      <button id="button" class="title float" onclick="enviarPedido()">Enviar pedido</button>
    </div>


  </div>
</section>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts_config.js"> </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->


</body>
</html>
