<section class="col-lm-12 row">

  <div class="panel-body">

    <!-- Chocolate -->
    <div class="col-sm-4">
      <div class="radio-selector">
        <input id="massa01" type="radio" name="massa" value="m01" ng-model="bolo.massa" ng-change="calcularMassa(value)"/>
        <label class="massa-bolo m01"    for="massa01">    </label>
        <p class="nome">CHOCOLATE</p>
        <p class="preco">R$80,00</p>
      </div>
    </div>

    <div class="col-sm-4">
      <!-- Baunilha -->
      <div class="radio-selector">
        <input id="massa02" type="radio" name="massa" value="m02" ng-model="bolo.massa" ng-change="calcularMassa(value)"/>
        <label class="massa-bolo m02"    for="massa02"> </label>
        <p class="nome">BAUNILHA</p>
        <p class="preco">R$70,00</p>
      </div>
    </div>

    <div class="col-sm-4">
      <!-- Morango -->
      <div class="radio-selector">
        <input id="massa03" type="radio" name="massa" value="m03" ng-model="bolo.massa" ng-change="calcularMassa(value)"/>
        <label class="massa-bolo m03"    for="massa03"> </label>
        <p class="nome">MORANGO</p>
        <p class="preco">R$65,00</p>
      </div>
    </div>

  </div>

  <br>
  <br>
  <div>
    <ul class="pag-bolo">

      <li class="next">  <button ng-click="irParaRecheio()">Próximo</button> </li>
    </ul>
  </div>


</section>
